/* Variables for root*/
:root {
    --main-bg-color: #f4f4f4;
}
body {
    background-color: var(--main-bg-color)
}

/* Navbar */ 
.bg-dark {
    background-color: #3b3355 !important;
}

.navbar-brand {
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 650;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 15px;
    padding-left: 65px;
}

/* Carousel */
.carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background: url('/img/photo_1.jpg');
    background-size: cover;
    border-top: 4px solid #5d5d81;
    border-bottom: 4px solid #5d5d81;
}

.carousel-image-2 {
    background: url('/img/photo_8.jpg');
    background-size: cover;
    border-bottom: 4px solid #5d5d81;
}

.carousel-image-3 {
    background: url('/img/photo_9.jpg');
    background-size: cover;
    border-top: 4px solid #5d5d81;
    border-bottom: 4px solid #5d5d81;
}
.carousel-item  {
    background-color: #444;
}



/* Gallery */ 
.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
    'img-1 img-2 img-3 img-3'
    'img-1 img-4 img-5 img-6'
    'img-7 img-7 img-8 img-6';
}

.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.image-gallery a i {
    color: rgba(255,255,255, .6); 
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid #5d5d81;
    border-radius: .4rem;
    opacity: 0; 
    transition: opacity .5s;
}

.image-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover i,  
.image-gallery a:hover::before {
    opacity: 2;
}

.img-1 {
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url(/img/photo_1.jpg)
}
.img-2 {
    grid-area: img-2;
    background-image: url(/img/photo_2.jpg);
}
.img-3 {
    grid-area: img-3;
    background-image: url(/img/photo_3.jpg);
}
.img-4 {
    grid-area: img-4;
    background-image: url(/img/photo_4.jpg);
}
.img-5 {
    grid-area: img-5;
    background-image: url(/img/photo_5.jpg);
}
.img-6 {
    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url(/img/photo_6.jpg);
}
.img-7 {
    grid-area: img-7;
    background-image: url(/img/photo_7.jpg);
}
.img-8 {
    grid-area: img-8;
    background-image: url(/img/photo_8.jpg);
}

@media screen and (max-width: 900px) {
    .image-gallery {
        grid-template-areas: 
    'img-1 img-1 img-2 img-2'
    'img-1 img-1 img-3 img-3'
    'img-4 img-4 img-5 img-5'
    'img-6 img-7 img-7 img-7'
    'img-8 img-8 img-8 img-8';
    }
.image-gallery a {
    height: 20rem;
  }

.img-1 {
   min-height: 41.5rem; 
}

.img-6 {
    min-height: 20rem;
 }
}

@media screen and (max-width: 600px) {
    .image-gallery {
        grid-template-areas: 
    'img-1 img-1 img-1 img-1'
    'img-2 img-2 img-2 img-2'
    'img-3 img-3 img-3 img-3'
    'img-4 img-4 img-4 img-4'
    'img-5 img-5 img-5 img-5'
    'img-6 img-6 img-6 img-6'
    'img-7 img-7 img-7 img-7'
    'img-8 img-8 img-8 img-8';
    }
.image-gallery a,
.img-1, .img-6 {
    min-height: 30rem;
    height: 30rem;
  }
}

/* Icon Section */
.services_link a{
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.services_link a:hover{
    border-bottom: 1px solid black;
}

/* Footer */
#main-footer {
    width: 100%;
    height: 95px;
    background-color: #3b3355;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#main-footer p {
    font-family: 'Lato', sans-serif;
}

/* About page */
#page-heading {
    height: 200px;
    background-image: url('../img/photo_13.jpg');
    color: #444;
    padding-top: 50px;
}

#about iframe {
    border-radius: 40px;
    border: 3px solid black;
    margin-left: 70px;
}

/* Teachers */
.teachers{
    margin: 70px 0;
    display: flex;
    
}

.teachers h1{
    text-align: center;
    font-family: 'Baloo 2', cursive;
    
}

.teachers h1::after{
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}

.teachers .img-box img{
    width: 300px;
    height: 350px;
    margin: 15px;
    padding: 20px;   
}

.profile {
    margin-top: 25px;
}

.profile h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 60px;
    font-family: monospace;
}

.profile h3 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 60px;
    
}

/* Services */ 

.services {
    margin: 0;
    background-color: #F8F9FB;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font-family);
}

.services-inner{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 1rem;
}

.price-column {
    background-color: white;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    padding: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 275px;
    border-radius: 8px;
}

.price-column.popular {
    background-color: var(--accent-color);
    color: white;
}

.price-column:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.price-column:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.price-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
.price {
    display: flex;
    font-size: 3.5rem;
}

.euro-sign {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-right: .5rem;
}

.per-month {
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
}

.course-name {
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.price-column.popular .divider {
    background-color: rgba(255, 255, 255, .2);
}

.bullets {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.bullets img {
    margin-right: 5px;
}

.apply-btn {
    border: none;
    background-color: var(--accent-color);
    color: white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-family: var(--heading-font-family);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3rem;
    transition: 200ms;
    transform: scale(1);
}

.apply-btn:hover, .apply-btn:focus {
    transform: scale(1.1);
}

.price-column.popular .apply-btn {
    background-color: white;
    color: var(--accent-color);
}